.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

/* Аватарка и другие кнопки */
.sidebar__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

/* модальное окно */

.modal {
  position: absolute;
  background: #f6f6f6;
  /* padding: 20px; */
  width: 100px;
  top: 80%;
  right: 8%;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

/* Поиск */
.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar_searchContainer > input {
  border: none;
  outline: none;
}

/* Чаты */
.sidebar__chats {
  flex: 1;
  overflow: auto;
  background-color: #f6f6f6;
}
