.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

/* Чаты */
.sidebar__chats {
  flex: 1;
  overflow: auto;
  background-color: #f6f6f6;
}

.sidebar__desc {
  padding: 20px;
  width: 100%;
  color: lightgray;
}
